*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    min-width: 100%;
    min-height: 100%;
    background-color: aqua;
}

p{
    color: aliceblue;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    background-color: blue;
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-column: auto; */
    min-height: 100vh;
}

.header{
    background-color: rgb(209, 165, 111);
    display: grid;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.main-content{
    background-color: rgb(88, 83, 92);
    /* flex: 1 0 auto; */
    padding: 5px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-auto-rows: minmax(100px, auto); */
    grid-template-areas: 
    "item1 item2 item3"
    "item4 item4 item4"
    "item5 item5 item6";
    gap: 10px 10px;
    flex: 1 0 auto;
}

.item{
    background-color: rgba(216, 139, 139, 0.979);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1{
    grid-area: item1;
}

.item2{
    grid-area: item2;
}

.item3{
    grid-area: item3;
}

.item4{
    grid-area: item4;
}

.item5{
    grid-area: item5;
}

.item6{
    grid-area: item6;
}

.footer{
    background-color: rgb(209, 165, 111);
    display: grid;
    justify-content: center;
    align-items: center;
    height: 50px;
}